In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('remnant_model/input_data/matches.csv', dtype=str)

In [8]:
df[df['trt'] == '1']

    school_code trt fullmatch pairmatch
8      00050405   1      1.37      1.37
20     00170305   1       1.9       1.9
28     00250315   1      1.17      1.17
69     00350560   1      1.36      1.36
119    00770100   1       1.1       1.1
120    00770505   1       1.2       1.2
124    00860305   1       1.3       1.3
130    00930018   1       1.4       1.4
144    01000302   1       1.5       1.5
175    01370040   1       1.6       1.6
179    01390305   1       1.7       1.7
198    01530320   1       1.8       1.8
210    01620020   1      1.10      1.10
233    01770305   1      1.11      1.11
239    01850310   1      1.12      1.12
240    01870020   1      1.13      1.13
244    01980305   1      1.14      1.14
245    01980310   1      1.15      1.15
249    02010415   1      1.16      1.16
292    02510305   1      1.18      1.18
333    02920305   1      1.19      1.19
347    03070305   1      1.20      1.20
348    03070310   1      1.21      1.21
352    03150305   1      1.22      1.22
353    03160305   1      1.23      1.23
358    03250310   1      1.24      1.24
367    03420330   1      1.25      1.25
419    04460550   1      1.26      1.26
451    06050405   1      1.27      1.27
462    06550405   1      1.28      1.28
463    06580310   1      1.29      1.29
466    06700505   1      1.30      1.30
476    07100015   1      1.31      1.31
485    07250310   1      1.32      1.32
510    07700405   1      1.33      1.33
516    07750040   1      1.34      1.34
518    07750310   1      1.35      1.35

In [ ]:
# a lot have elementary grades with middle school, one has only 6th, one has only 8th, most have 67, 78, or 678