In [2]:
import os
import pandas as pd

In [6]:
df = pd.read_excel('xlsx/accountability_2012.xlsx', header=[1,2], dtype=str)

In [7]:
df

                           Unnamed: 0_level_0 Unnamed: 1_level_0  \
                                  School Name        School Code
0                      Abington-Abington High           00010505
1     Abington-Beaver Brook Elementary School           00010003
2           Abington-Center Elementary School           00010002
3               Abington-Frolio Middle School           00010405
4        Abington-Woodsdale Elementary School           00010015
...                                       ...                ...
1823          Worcester-Worcester East Middle           03480420
1824       Worcester-Worcester Technical High           03480605
1825              Wrentham-Charles E Roderick           03500010
1826                         Wrentham-Delaney           03500003
1827                                      NaN                NaN

     Unnamed: 2_level_0 Accountability and Assistance Level  \
            School Code                  Unnamed: 3_level_1
0               Level 2     Not meeting gap narrowing goals
1     Insufficient data                   Insufficient data
2     Insufficient data                   Insufficient data
3               Level 2     Not meeting gap narrowing goals
4               Level 1         Meeting gap narrowing goals
...                 ...                                 ...
1823            Level 2     Not meeting gap narrowing goals
1824            Level 1         Meeting gap narrowing goals
1825            Level 2     Not meeting gap narrowing goals
1826            Level 2     Not meeting gap narrowing goals
1827                NaN                                 NaN

                                                                     \
                  School Type School Percentile (1-99) All Students
0                 High School                       36           62
1           Elementary School                      NaN          NaN
2     Early Elementary School                      NaN          NaN
3               Middle School                       36           64
4           Elementary School                       47           88
...                       ...                      ...          ...
1823            Middle School                       21           63
1824              High School                       37          100
1825        Elementary School                       84           82
1826        Elementary School                      NaN          100
1827                      NaN                      NaN          NaN

     Cumulative Progress and Performance Index
                            High Need Students High Need Students.1
0                                          NaN                  NaN
1                                          NaN                  NaN
2                                          NaN                  NaN
3                                           59                  NaN
4                                           87                  NaN
...                                        ...                  ...
1823                                        61                  NaN
1824                                       100                  NaN
1825                                        56                  NaN
1826                                        59                  NaN
1827                                       NaN                  NaN

[1828 rows x 9 columns]